<% content_for :form do %>
    <form class="form">
        <div class="input-group flex">
            <input type="text" class="form-control" id="short_link" placeholder="Enter a link to shorthen it" value="<%= 'localhost:9393/links/' + @url.short_form %>">
            <input type="submit" class="copy btn btn-danger" value="COPY" id="copy">
        </div>
    </form>
    <div class="result-panel">
    	<h4 class="link"><%= truncate(@url.url) %></h4>
    	<div class="short flex">
    		<a class="short-link" href="<%= 'localhost:9393/links/' + @url.short_form %>"><%= 'localhost:9393/links/' + @url.short_form %></a>
    		<input type="submit" class="btn btn-small" id="sub_copy" value="COPY">
    		<i class="fa fa-bar-chart chart" aria-hidden="true"><p><%= @url.counter %></p></i>
    	</div>
    </div>
<% end %>


